$font-baloo : "Baloo Thambi 2", cursive;
$font-raleway : "Raleway", cursive;
$font-rubik : "Rubik", cursive;
$color-primary : #024d08;
$color-second :  #045001;
$color-yellow : #fdff00;
$color-ash: #c7c7c7c2;
